ch_3/heros_inventory
ch_3/tic-tac-toe_board
ch_3/word_jumble
ch_4/hangman
ch_4/heros_inventory2
ch_4/heros_inventory3
ch_4/high_scores
ch_5/give_me_a_number
ch_5/global_reach
ch_5/instructions
ch_5/mad_lib
ch_5/scoping
ch_5/taking_damage
ch_5/triple
ch_5/yes_or_no
ch_6/inventory_displayer
ch_6/inventory_referencer
ch_6/referencing
ch_6/swap
ch_6/tic-tac-toe
